body{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

  /* ----------hero----------- */

.karuzela{
    width: 100%;
    padding: 0px;
}

header{
    width: 100%;
}

  .carousel-caption{
    padding-bottom: 15%;
}

#guzik{
    font-size: 18px;
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 9px;
    border-width: 4px;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}

#guzik:hover{
    font-size: 18px;
    color: black;
    background-color: white;
    opacity: 0.7;
    padding: 9px;
    border-width: 4px;
    border-radius: 8px;
}

video{
    opacity: 0.6;
}

  /* ----------navbar----------- */

.navbar{
    position: relative;
}

.bg-barber{
    background-color: transparent !important;
}

.navbar-brand{
    font-family: 'Girassol', cursive;
    font-size: 55px;
    background: -webkit-linear-gradient(#971111, #c97979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10px;
}

.navbar-brand:hover{
    background: -webkit-linear-gradient(#c97979, #971111);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

#orginal{
    font-size: 14px;
    background: -webkit-linear-gradient(#971111, #c97979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navbar-nav li:hover>.dropdown-menu{
    display: block;
    background-color: black;
}


.nav-link{
    font-size: 20px;

    margin-left: 10px;
}

.nav-link:hover{

    color: #a12e2e!important;
}

.dropdown-menu{
    text-align: center;
    background-color: black;

    border: none;
}

.dropdown-menu:hover{
    background-color: black;
    transform: matrix(1, 0, 0, 1, 45, 40);
}

.dropdown-item{
    font-size: 20px;
    text-align: left;
}

.dropdown-item:hover{

    color: #a12e2e!important;
}

  /* ----------sections----------- */


.container{
    max-width: 100%;
    padding: 0px 0px;
}

.intro{
    text-align: justify;
    background-image: linear-gradient(black);
    padding: 60px;
    line-height: 2px;
}

.pricelist{
    color: gray;
    text-align: center;
    padding-top: 60px;
    padding-right: auto;
    padding-left: auto;
    line-height: 16px;
}

.karty{
    text-align: center;
    background-image: linear-gradient(black, #742121, black);
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.tablica{
    text-align: justify;
    background-color: black;
    padding: 100px 60px;
}

#galeria{
    text-align: justify;
    padding: 0 60px;
}

.kontakt{
    text-align: left;
    background-image: linear-gradient(black, #742121);
    padding: 60px;
}

  /* ----------social media----------- */

.socials
{
    width: 100%;
    text-align: center;
    background-color: black;
}

.socialdivs
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.fb
{
    width: 33%;
    height: 100px;
    float: left;
    transition: ease-in-out 0.3s;
}

.fb:hover
{
    background-image: linear-gradient(#742121, black);
    transform: scale(1.1);
}

.yt
{
    width: 33%;
    height: 100px;
    float: left;
    transition: ease-in-out 0.3s;
}

.yt:hover
{
    background-image: linear-gradient(#742121, black);
    transform: scale(1.1);
}

.gplus
{
    width: 33%;
    height: 100px;
    float: left;
    transition: ease-in-out 0.3s;
}

.gplus:hover
{
    background-image: linear-gradient(#742121, black);
    transform: scale(1.1);
}

  /* ----------contact----------- */

#contact{
    padding-top: 60px;
    text-align: justify;
}


input{
    width: 100%;
    max-width: 400px;
    display: block;
    background-color: white;
    color: black;
    padding: 6px;

    outline: none;
}

textarea{
    width: 100%;
    max-width: 400px;
    height: 200px;
    padding: 6px;
    outline-color: gold;
    outline-width: 8px;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.kontaktowy{
    text-align: left;
    font-size: 16px;
    background-image: linear-gradient(black, #742121);
    padding: 20px 60px;
}

.contact100-form-btn{
    font-size: 18px;
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 9px;
    border-width: 4px;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}

.contact100-form-btn:hover{
    font-size: 18px;
    color: black;
    background-color: white;
    opacity: 0.7;
    padding: 9px;
    border-width: 4px;
    border-radius: 8px;
}

.container-contact100{
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrap-contact100{
    margin-left: auto;
    margin-right: auto;
}

  /* ----------footer----------- */

  footer{
    clear: both;
    text-align: center;
    background-color: #742121;
    padding: 60px; 
    padding-top: 60px;
}

.logo-stopka{
    font-family: 'Girassol', cursive;
    font-size: 35px;
    color: #fff;
}

.logo-stopka:hover{
    text-decoration: none;
    font-family: 'Girassol', cursive;
    font-size: 35px;
    color: #fff;
}

/* ----------scroll up----------- */

.scrollup{
    display: block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background: url("img/arrow.png") no-repeat 0px 0px;
    position: fixed;
    right: 15px;
    bottom: 30px;
    opacity: 0.8;
}

/* ----------img gallery----------- */

div.gallery {
    border: none;
    transition: ease-in-out all 0.3s;
    opacity: 0.8;
}
  
div.gallery:hover {
    border: none;
    transform: scale(1.1);
    opacity: 1;
}

div.gallery img {
    width: 70%;
    height: auto;

}
  
div.desc {
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
  
* {
    box-sizing: border-box;
}
  
.responsive {
    text-align: center;
    padding: 0 15px;
    float: left;
    width: 33%;
}
  
.responsivea {
      text-align: center;
      padding: 0 6px;
      float: left;
      width: 80%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
 }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}